:root {
  --main-color: #212121;
  --background-color: #f5f5f5;
  --accent-color: #2196f3;
  --title-text-color: #757575;
  --background-other-color: #2f303a;
  --hero-color: #fff;
  --dark-white-color: #f5f4fa;
  --o-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: var(--main-color);
  background-color: var(--hero-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

.section {
  padding: 94px 0;
}
.section .hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin: 0 0 50px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.p {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.8;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.nav-list__link {
  color: var(--main-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 30px 0;
  position: relative;
  -webkit-transition: color var(--o-animation);
  transition: color var(--o-animation);
}
.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-color);
}
.nav-list__link:hover::after, .nav-list__link:focus::after {
  color: var(--accent-color);
}
.nav-list__link.current:after {
  color: var(--accent-color);
  opacity: 1;
}
.nav-list__link::after {
  content: "";
  background-color: var(--accent-color);
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: -2px;
  left: 0;
  -webkit-transition: color var(--o-animation);
  transition: color var(--o-animation);
  opacity: 0;
}
.nav-list__link.current {
  color: var(--accent-color);
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.contacts__link {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color var(--o-animation);
  transition: color var(--o-animation);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
  text-decoration: none;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  color: var(--accent-color);
  font-size: 26px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  line-height: 1.2;
  margin-right: 91px;
}

.logo-part {
  color: #000;
  text-decoration: none;
}

.container-hero {
  font-size: 44px;
  display: inline-block;
  width: 696px;
  text-align: center;
}

.hero {
  background-color: rgba(47, 48, 58, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 200px 0;
  background-image: url(../images/background-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-width: 1600px;
  margin: 0 auto;
}

.hero__title {
  color: var(--hero-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  width: 696px;
  text-align: center;
}

.hero__button {
  height: 50px;
  width: 216px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  color: var(--hero-color);
  border: none;
  cursor: pointer;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
}

.advantages__list .advantages__item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages__list .advantages__item-text {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.7;
}

.advantages__item {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.advantages__icons {
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.team__cards .advantages__item-text {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin: 0;
}

.solutions {
  padding: 0 0 94px 0;
}

.solutions__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.solutions__cards-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1666;
  color: var(--hero-color);
  position: absolute;
  z-index: 3;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  text-transform: uppercase;
  left: 0;
  bottom: 4px;
  padding: 27px 10px;
  width: 100%;
}

.solutions__cards-photo {
  position: relative;
}

.team {
  background-color: #f5f4fa;
}

.team__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.team__cards .title {
  color: var(--main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin: 30px 0 10px 0;
  letter-spacing: 0.03em;
}

.team__cards-photo {
  width: 270px;
  height: 368px;
  background-color: var(--hero-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  display: inline-table;
}
.team__cards-photo .p {
  text-align: center;
}

.contacts__link__header-icons {
  fill: var(--title-text-color);
  margin-right: 10px;
  -webkit-transition: color var(--o-animation);
  transition: color var(--o-animation);
}
.contacts__link:hover .contacts__link__header-icons, .contacts__link:focus .contacts__link__header-icons {
  fill: var(--accent-color);
}

.socials-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 8px 32px 30px 32px;
  gap: 10px;
}

.clients-list__icons {
  fill: currentColor;
  width: 170px;
  height: 92px;
}

.social-icons__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  color: #afb1b8;
  width: 44px;
  border: 1px solid #fff;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background, color, var(--o-animation);
  transition: background, color, var(--o-animation);
}
.social-icons__link:hover, .social-icons__link:focus {
  color: #fff;
  background: #2196f3;
}

.modal-window__icons {
  fill: var(--main-color);
  position: absolute;
  top: 27px;
  left: 12px;
  -webkit-transition: color var(--o-animation);
  transition: color var(--o-animation);
  pointer-events: none;
}

.social-icons__svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer-wraper__socials .social-icons__svg {
  fill: var(--hero-color);
  background: Solid rgba(255, 255, 255, 0.1);
}

.subcribe-button__icon-send {
  fill: var(--hero-color);
  margin-left: 10px;
}

.tel {
  top: 97px;
}

.mail {
  top: 164px;
}

.filter__list__item__button {
  color: var(--main-color);
  background-color: #f5f4fa;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px;
  background-color: #f5f4fa;
  cursor: pointer;
  border: 0ch;
  padding: 6px 22px;
  -webkit-transition: color var(--o-animation);
  transition: color var(--o-animation);
}
.filter__list__item__button:hover, .filter__list__item__button:focus {
  color: var(--hero-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.container-hero .hero__button {
  margin: 30px;
  max-height: 50px;
  max-width: 216px;
}

.footer-wraper__subscribe-block__subcribe-button {
  color: var(--hero-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px var(--accent-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-wraper__subscribe-block__subcribe-button:hover, .footer-wraper__subscribe-block__subcribe-button:focus {
  cursor: pointer;
}

.close-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--hero-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: color var(--o-animation);
  transition: color var(--o-animation);
}
.close-button:hover, .close-button:focus {
  fill: var(--accent-color);
}

.modal-window__button-submit {
  height: 50px;
  width: 200px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  color: var(--hero-color);
  border: none;
  cursor: pointer;
  -webkit-transition: color var(--o-animation);
  transition: color var(--o-animation);
}
.modal-window__button-submit:hover, .modal-window__button-submit:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-window__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.clients-list__item {
  width: 170px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.clients-list__item-link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: color var(--o-animation);
  transition: color var(--o-animation);
}
.clients-list__item-link:hover, .clients-list__item-link:focus {
  color: var(--accent-color);
  border: 1px solid;
}

.backdrop {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal-window {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.modal-window {
  max-width: 528px;
  background-color: var(--hero-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  width: 100%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 50%;
  left: 50%;
  z-index: 3;
}

.modal-window__form__p {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 12px;
}

.modal-window__row {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
}

.modal-window__label {
  display: block;
  color: #757575;
  margin-bottom: 4px;
}

.modal-window__comment {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 10px;
  width: 100%;
  border-radius: 4px;
  padding: 12px 16px;
  outline: none;
  resize: none;
  height: 120px;
  -webkit-transition: border-color, color, var(--o-animation);
  transition: border-color, color, var(--o-animation);
}
.modal-window__comment:hover, .modal-window__comment:focus {
  border: 1px solid #2196f3;
}

.modal-window__input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 10px 10px 10px 42px;
  outline: none;
  margin-bottom: 10px;
  -webkit-transition: border-color, color, var(--o-animation);
  transition: border-color, color, var(--o-animation);
}
.modal-window__input::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-window__input::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-window__input:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-window__input::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-window__input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-window__input:focus, .modal-window__input:hover {
  border: 1px solid #2196f3;
}
.modal-window__input:focus + svg, .modal-window__input:hover + svg {
  fill: #2196f3;
}

.modal-window__privacy {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: #757575;
  position: relative;
}
.modal-window__privacy .privacy__label::before {
  position: absolute;
  cursor: pointer;
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 1px solid var(--title-text-color);
  border-radius: 2px;
  left: 12px;
  top: 0px;
}
.modal-window__privacy .privacy__input:checked + .privacy__label::before {
  background-color: var(--accent-color);
  background-image: url("../images/icon-checkbox.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid var(--accent-color);
}
.modal-window__privacy .privacy__input:focus + .privacy__label::before, .modal-window__privacy .privacy__input:hover + .privacy__label::before {
  outline: auto;
  outline-color: var(--accent-color);
}

.privacy__link {
  color: var(--accent-color);
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.privacy__label {
  position: relative;
  padding-left: 37px;
}

.privacy__input {
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: border-color var(--o-animation);
  transition: border-color var(--o-animation);
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer {
  background-color: #2f303a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px 0;
}

.footer .logo-part {
  color: var(--hero-color);
  text-decoration: none;
}

.footer-wraper__address-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 3%;
}

.footer-wraper__address-list .map-link {
  color: var(--hero-color);
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  -webkit-transition: color var(--o-animation);
  transition: color var(--o-animation);
}
.footer-wraper__address-list .map-link:hover, .footer-wraper__address-list .map-link:focus {
  color: var(--accent-color);
  font-style: normal;
}

.footer-wraper__address-list .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  vertical-align: Top;
  -webkit-transition: color var(--o-animation);
  transition: color var(--o-animation);
}
.footer-wraper__address-list .link.link:hover, .footer-wraper__address-list .link.link:focus {
  color: var(--accent-color);
}

.footer-wraper__address-list__item {
  margin-bottom: 9px;
}

.footer-wraper__socials__p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  color: var(--hero-color);
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-left: 33px;
}

.footer-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-wraper__socials {
  padding-top: 12px;
}

.footer-wraper__socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  width: 44px;
  border: 1px solid #2f303a;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background, color, var(--o-animation);
  transition: background, color, var(--o-animation);
}
.footer-wraper__socials__link:hover, .footer-wraper__socials__link:focus {
  background: var(--accent-color);
}

.footer-wraper__subscribe-block {
  padding-top: 12px;
  margin-left: 93px;
}

.footer-wraper__subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-wraper__subscribe-block__p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  color: var(--hero-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

#input-email {
  color: var(--hero-color);
  background: transparent;
  font-weight: 400;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
}
#input-email::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.25;
}
#input-email::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.25;
}
#input-email:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.25;
}
#input-email::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.25;
}
#input-email::placeholder {
  color: rgba(255, 255, 255, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.25;
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}

.filter__list__item {
  font-size: 16px;
  line-height: 1.6;
  vertical-align: Top;
  padding-bottom: 50px;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 21px;
}

.portfolio__list__item {
  background: #fff;
  -webkit-transition: color var(--o-animation);
  transition: color var(--o-animation);
}
.portfolio__list__item:hover, .portfolio__list__item:focus {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 1px 4px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 1px 4px 6px 0 rgba(0, 0, 0, 0.16);
}

.portfolio__list__img-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5556;
  color: var(--hero-color);
  background: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
}

.portfolio__list__item-block {
  position: relative;
  overflow: hidden;
}

.portfolio__list__item-link {
  text-decoration: none;
}
.portfolio__list__item-link:hover .portfolio__list__img-text, .portfolio__list__item-link:focus .portfolio__list__img-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__list__item__about {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio__list__img {
  display: block;
}/*# sourceMappingURL=main.css.map */