.logo {
    color: var(--accent-color);
    font-size: 26px;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    line-height: 1.2;
    margin-right: 91px;
  }
  .logo-part {
    color: #000;
    text-decoration: none;
  }